<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
        <Properties>
                <Property name="baseDir" value="/var/log/FooterMilter" />
        </Properties>
        <Appenders>
                <Console name="Console" target="SYSTEM_OUT">
                        <PatternLayout
                                pattern="%d{DEFAULT} [%-5p] [%-40C{1}] [%-40M] %m%n" />
                </Console>
                <RollingFile name="RollingFile"
                        fileName="${baseDir}/FooterMilter.log"
                        filePattern="${baseDir}/$${date:yyyy-MM}/footermilter-%d{yyyy-MM-dd-HH-mm-ss}-%i.log.gz">
                        <PatternLayout
                                pattern="%d{DEFAULT} [%-5p] [%-40C{1}] [%-40M] %m%n" />
                        <Policies>
                                <OnStartupTriggeringPolicy />
                                <TimeBasedTriggeringPolicy />
                                <CronTriggeringPolicy schedule="0 0 * * * ?" />
                        </Policies>
                        <DefaultRolloverStrategy>
                                <Delete basePath="${baseDir}" maxDepth="3">
                                        <IfFileName glob="*/footermilter-*.log.gz" />
                                        <IfLastModified age="31d" />
                                </Delete>
                        </DefaultRolloverStrategy>
                </RollingFile>
        </Appenders>
        <Loggers>
                <Root level="INFO">
                        <AppenderRef ref="Console" />
                        <AppenderRef ref="RollingFile" />
                </Root>
        </Loggers>
</Configuration>
